{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}
 <table class="table table-hover table-borderless align-middle  col-12">
    <thead class="table-primary"> 
        <tr>
          <th class="text-center" scope="col-5">Name</th>
          <th class="text-center" scope="col">Email</th>
          <th class="text-center" scope="col">Phone</th>
          <th class="text-center" scope="col">Location</th>
          <th class="text-center" scope="col">Life Connect</th>
          <th class="text-center" scope="col">Department</th>
          <th class="text-center" scope="col">Detail</th>
        </tr>
    </thead>
    <tbody>
      
    {% if records %}
      {% for record in records %}
        <tr>
          <td class="text-center" scope="row">{{ record.first_name }} {{ record.last_name }}</td>
          <td class="text-center" scope="row">{{ record.email }}</td>
          <td class="text-center" scope="row">{{ record.phone }}</td>
          <td class="text-center" scope="row">{{ record.location }}</td>
          <td class="text-center" scope="row">{{ record.life_connect }}</td>
          <td class="text-center" scope="row">{{ record.department }}</td>
          <td><a href="{% url 'record' record.id %}" ><button class="btn btn-primary">View</button></a></td> 
        </tr>
      {% endfor %}

    {% endif %}	
      </tbody>
  </table>
{% else %}

<div class="col-md-6 offset-md-3 text-center">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary text-center">Login</button>
</form>
{% endif %}

{% endblock %}





          