{% extends 'base.html' %}
{% block content %}



<div class="card text-center">
  <div class="card-header"><strong>
    	{{ customer_record.first_name }} 
		{{ customer_record.last_name }}</strong>
  </div>
  <div class="card-body text-center">
<p class="card-text">
<strong>Email: </strong>{{ customer_record.email }}</p>

<p class="card-text">
<strong>Phone: </strong>{{ customer_record.phone }}
</p>

<p class="card-text">
<strong>Date of Birth: </strong>{{ customer_record.date_of_birth }}</p>

<p class="card-text">
<strong>Location: </strong>{{ customer_record.location }}</p>

<p class="card-text">
<strong>Gender: </strong>{{ customer_record.gender }}</p>

<p class="card-text">
<strong>Marital Status: </strong>{{ customer_record.marital_status}}</p>

<p class="card-text">
<strong>Life connect: </strong>{{ customer_record.life_connect }}</p>

<p class="card-text">
<strong>Department: </strong>{{ customer_record.department }}</p>

<p class="card-text">
<strong>Specific Life Objective: </strong>{{ customer_record.specific_life_objective }}</p>
    
    
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update_record' customer_record.id %}" class="btn btn-secondary">Update Record</a>
		

{% endblock %}